@import '../../../../styles/variables.scss';

.tag {
    opacity: 0.5;
}


//modo oscuro
@media screen and (prefers-color-scheme: dark) {
    .message-card {
        background-color: $target-color-dark;
        color: $text-color-dark;
        -webkit-box-shadow: 0.3px 0.3px 6px 1px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0.3px 0.3px 6px 1px rgba(0, 0, 0, 0.6);
        box-shadow: 0.3px 0.3px 6px 1px rgba(0, 0, 0, 0.6);
    }
    .tag {
        border-color: $text-color-dark;
    }
}

//modo claro
@media screen and (prefers-color-scheme: light) {
    .message-card {
        background-color: $target-color-light;
        color: $text-color-light;
        -webkit-box-shadow: 0.3px 0.3px 5px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0.3px 0.3px 5px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0.3px 0.3px 5px 1px rgba(0, 0, 0, 0.2);
    }
    .tag {
        border-color: $text-color-light;
    }
}

//modo no especificado
@media screen and (prefers-color-scheme: none) {
    .message-card {
        background-color: $target-color-light;
        color: $text-color-light;
        -webkit-box-shadow: 0.3px 0.3px 5px 1px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0.3px 0.3px 5px 1px rgba(0, 0, 0, 0.2);
        box-shadow: 0.3px 0.3px 5px 1px rgba(0, 0, 0, 0.2);
    }

    .tag {
        border-color: $text-color-light;
    }
}