@import '../styles/variables.scss';



//modo oscuro
@media screen and (prefers-color-scheme: dark) {
    .main {
        background-color: $background-color-dark;
        color: $text-color-dark;
    }
}

// modo claro
@media screen and (prefers-color-scheme: light) {
    .main {
        background-color: $background-color-light;
        color: $text-color-light;
    }
}

// modo no especificado
@media screen and (prefers-color-scheme: none) {
    .main {
        background-color: $background-color-light;
        color: $text-color-light;
    }
}